---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
    title="Journeys"
    description="This page contains all the things I'm curious about."
>
    <div>This page contains all the things I'm curious about.</div>
</BaseLayout>
