---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import Prose from '../../layouts/Prose.astro'

export async function getStaticPaths() {
    const journal = await getCollection('journal')
    return journal.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<BaseLayout title={entry.data.title}>
    <div
        class="flex min-h-screen flex-col items-center justify-center px-4 pt-10"
    >
        <div class="w-full max-w-2xl">
            <h1 class="text-center text-4xl font-bold text-text">
                {entry.data.title}
            </h1>
            <p class="mt-2 text-center text-lg text-green">
                {
                    entry.data.date.toLocaleDateString('en-uk', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                    })
                }
            </p>
        </div>

        <div class="mx-auto mt-6 w-full max-w-2xl text-center">
            <p class="pb-6 text-lg font-medium leading-relaxed text-subtext0">
                {entry.data.description}
            </p>
        </div>
        <div class="w-full max-w-3xl">
            <Prose>
                <Content />
            </Prose>
        </div>
    </div>
</BaseLayout>
