:root {
    color-scheme: light dark;

    --foreground: light-dark(oklch(13% 0 0), oklch(93% 0 0));
    --background: light-dark(oklch(98% 0.008 60), oklch(12% 0.015 20));
    --accent: light-dark(oklch(62% 0.12 195), oklch(55% 0.13 300));
    --gray: light-dark(oklch(68% 0.04 10), oklch(75% 0 0));

    --size-xs: 0.75rem;
    --size-base: 1rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-mono);
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 0.8fr minmax(0, 100ch) 0.6fr;
    grid-template-rows: minmax(0, 1fr);
    overflow: hidden;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main > * {
    border: 1px solid var(--accent);
    border-top: 0;
    min-height: 0;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--accent-hover);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.content {
    padding: 0;
    border-left: 0;
    border-right: 0;
    overflow-y: auto;
    font-family: var(--font-serif);
}

.content-inner {
    margin: 0 auto;
    padding: 0.8rem;
    max-width: 80ch;
}

.content img {
    width: 100%;
    height: auto;
}

.content::-webkit-scrollbar {
    width: 12px;
}

.content::-webkit-scrollbar-thumb {
    background: var(--accent);
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: 6px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}
.content p {
    font-size: var(--size-xl);
}

.card {
    font-size: var(--size-xl);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;

    border: 1px solid var(--accent);
}

.card h2 {
    margin: 0;
}

time {
    color: var(--gray);
}
