@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght,GRAD@0,8..144,100..900,100;1,8..144,100..900,100&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Roboto', 'sans-serif';
    --font-serif: 'Roboto Serif', 'sans-serif';

    --hue: 0deg;
    --color-bg: oklch(97% 0.02 var(--hue));
    --color-fg: oklch(18% 0.59 var(--hue));
    --color-fg-less: oklch(89% 0.05 var(--hue));
    --color-link: oklch(49% 0.19 var(--hue));
    --color-hover: oklch(80% 0.12 var(--hue));
    --color-me-400: oklch(71% 0.19 var(--hue));
    --color-me-500: oklch(60% 0.27 var(--hue));
    --color-me-700: oklch(38% 0.12 var(--hue));
    --color-me-800: oklch(25% 0.04 var(--hue));
}

@variant dark {
    --color-bg: oklch(12% 0.04 var(--hue));
    --color-fg: oklch(89% 0.05 var(--hue));
    --color-fg-less: oklch(23% 0.04 var(--hue));
    --color-link: oklch(18% 0.59 var(--hue));
    --color-me-300: oklch(80% 0.12 var(--hue));
    --color-me-400: oklch(71% 0.19 var(--hue));
    --color-me-500: oklch(60% 0.27 var(--hue));
    --color-me-600: oklch(49% 0.19 var(--hue));
    --color-me-700: oklch(38% 0.12 var(--hue));
    --color-me-800: oklch(25% 0.04 var(--hue));
}
