---
import Layout from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
    const posts = await getCollection('essays').sort(
        (a, b) => a.data.date.valueOf() - b.data.date.valueOf()
    )

    const postYears = new Map()
    posts.forEach((post) => {
        const year = post.data.date.getFullYear()

        if (!postYears.get(year)) {
            postYears.set(year, [])
        }

        postYears.get(year).push(post)
    })

    return [...postYears.entries()].map(([year, posts]) => ({
        params: { year },
        props: { posts },
    }))
}

const { year } = Astro.params
const { posts } = Astro.props
---
   <body>
        <main>
            <h2>Posts in {year}</h2>
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <time
                                    datetime={post.data.pubDate.toISOString()}
                                >
                                    {post.data.pubDate.toLocaleDateString(
                                        'en-us',
                                        {
                                            year: 'numeric',
                                            month: 'short',
                                            day: 'numeric',
                                        })}
                                </time>
                                <a href={`/blog/${post.slug}/`}>
                                    {post.data.title}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
    </body>
