---
import BaseLayout from '../layouts/BaseLayout.astro'
import Prose from '../layouts/Prose.astro'
---

<BaseLayout title="About Me">
    <div class="mx-auto w-1/2 py-10">
        <Prose class="mx-auto w-7/12">
            <h1>About Me</h1>
            Hey there, I am Adithya
        </Prose>
    </div>
</BaseLayout>
