---
import { getCollection } from 'astro:content'
import Layout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
const essayEntries = await getCollection('essays')
---

<Layout title="Archive">
    <div class="mx-auto pt-10">
        <div class="text-center text-3xl">Archive</div>
        <ul class="leading-loose">
            {
                essayEntries.map((essayEntry) => (
                    <li>
                        <a
                            class="text-blue-100 hover:text-blue-400"
                            href={`${essayEntry.slug}`}
                        >
                            {essayEntry.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</Layout>
