---
import { getCollection } from 'astro:content'
import BlogCard from '@/components/BlogCard.astro'
import Layout from '@/layouts/BaseLayout.astro'
const posts = (await getCollection('blog'))
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .filter((post) => !post.data.isDraft)
---

<Layout title="Blog" description="This page is where I house my writings.">
    <div class="flex flex-col space-y-2">
        {
            posts.map((post) => (
                <BlogCard
                    title={post.data.title}
                    link={`/blog/${post.id}`}
                    description={post.data.description}
                    date={post.data.date}
                />
            ))
        }
    </div>
</Layout>
