---
import { getCollection } from 'astro:content'
import Layout from '../layouts/BaseLayout.astro'
import BlogCard from '../components/BlogCard.astro'
import FormattedDate from '../components/FormattedDate.astro'
const essayEntries = (await getCollection('essays')).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
---

<Layout title="Essays" />

<h1 class="mx-auto w-fit py-10 text-center text-5xl">
    Essays
    <div class="mx-auto text-center">
        <BlogCard
            title="This is a test heading"
            description="a long and lengthy post about the necessity to do things this way."
        />
    </div>
</h1>
