---
import { getCollection } from 'astro:content'
import Layout from '../layouts/BaseLayout.astro'
import BlogCard from '../components/BlogCard.astro'
const essayEntries = (await getCollection('essays')).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
---

<Layout title="Essays" />

<h1 class="mx-auto w-fit py-10 text-center text-5xl">Essays</h1>
<div class="mx-auto">
                    {
                        essayEntries.map((essayEntry) => (
                                <a
				    href=`/essays/${essayEntry.slug}`
                                >
<BlogCard title=`${essayEntry.data.title}` date=`${essayEntry.data.date}` description=`${essayEntry.data.description}`/>
                                </a>
                        ))
                    }
</div>
