---
import Footer from '@/components/Footer.astro'
import QuickLinks from '@/components/QuickLinks.astro'
import Music from '@/components/Music.astro'
import HomeLayout from '@/layouts/HomeLayout.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import ThemeSwitcher from '@/components/MobileThemeSwitcher.astro'
import { getCollection } from 'astro:content'

const blogPosts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
)

const mostRecentPosts = blogPosts
    .filter((entry) => entry.data.isEssay && !entry.data.isDraft)
    .slice(0, 3)
---

<HomeLayout title="Adithya Nair.">
    <div class="md:pb-0">
        <div class="flex items-center justify-between py-4 md:mt-14 md:mb-8">
            <div class="font-serif text-4xl font-light">
                Hello, I'm <p
                    class="text-fg dark:text-fg block font-extrabold md:inline"
                >
                    Adithya.
                </p>
            </div>
            <div class="md:hidden">
                <ThemeSwitcher />
            </div>
        </div>
    </div>
    <p>
        I am a student, writer and programmer. This is my place on the Internet.
        Read more about me
        <a class="text-me-600 dark:text-me-200 underline" href="/about">
            here
        </a>.
    </p>
    <div class="w-fit py-2">
        <div>My current top song is:</div>
        <div>
            <Music />
        </div>
    </div>
    <h2 class="py-2 font-serif text-2xl font-extrabold">Links</h2>
    <QuickLinks />
    <div class="grid grid-cols-3 place-items-center py-2"></div>
    <h2 class="py-2 text-2xl font-extrabold">Recent Essays</h2>
    {
        mostRecentPosts.map((post) => (
            <div class="py-4">
                <div class="flex flex-col justify-between pb-1 md:flex-row md:space-x-2 md:pb-1">
                    <div class="text-xl font-medium">
                        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                    </div>
                    <div class="md:text-right">
                        <FormattedDate date={post.data.date} />
                    </div>
                </div>
                <div class="font-light">{post.data.description}</div>
            </div>
        ))
    }
    <Footer />
</HomeLayout>
