---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'
---

<BaseLayout title="Welcome To My Website.">
    <section class="w-4/5 bg-white p-8">
        <div class="flex h-full items-center justify-center">
            <!-- Centered box with text -->
            <div class="text-center">
                <p class="text-lg">Your centered text content goes here.</p>
            </div>
        </div>
    </section>
</BaseLayout>
