---
import Footer from '@/components/Footer.astro'
import RSS from '@/icons/rss.svg'
import QuickLinks from '@/components/QuickLinks.astro'
/* import Music from '@/components/Music.astro' */
import BaseLayout from '@/layouts/BaseLayout.astro'
import FormattedDate from '@/components/FormattedDate.astro'

import { getCollection } from 'astro:content'

const blogPosts = (await getCollection('blog')).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
)

const mostRecentPosts = blogPosts
.filter((entry) => entry.data.isEssay && !entry.data.isDraft)
.slice(0, 5)
---

<BaseLayout>
    <div>
	<header>Hi,</header>
    <p>
        I am a student, writer and programmer. This is my personal website,
        where I write about whatever strikes my fancy.
    </p>

    <p>
        Interested in working with me? Check out my <a
            href="https://nairadithya.github.io/">portfolio</a
        >.
    </p>
    <h2>Socials</h2>
    <QuickLinks />
    </div>
    <Footer />
</BaseLayout>
