---
import BaseLayout from '../layouts/BaseLayout.astro'
import Prose from '../layouts/Prose.astro'
---

<BaseLayout title="Welcome To My Website.">
    <section class="mx-auto w-7/12">
        <div class="pt-10">
            <Prose>
                <h1>Hi there, welcome to my website.</h1>
                <p>
                    I am a student at Amrita Vishwa Vidyapeetham, and I like to
                    think out loud about the things that fascinate me, and about
                    me here. <a href="/about"> Read More </a>
                </p>
            </Prose>
        </div>
    </section>
</BaseLayout>
