---
import HomeLayout from '../layouts/HomeLayout.astro'
import Prose from '../layouts/Prose.astro'
---

<HomeLayout title="Adithya Nair.">
    <div class="h-screen w-screen">
        <div class="mx-10 flex flex-col gap-10 py-14">
            <div class="text-center text-7xl text-text">
                <div class="inline">Hi!</div> I'm <p
                    class="semibold inline text-mauve"
                >
                    Adithya.
                </p>
            </div>
            <div class="text-wrap text-center text-3xl text-subtext1">
                I'm a student, writer and programmer.
                <div class="pt-4">Welcome to my home on the internet.</div>
            </div>
            <div
                class="mx-auto flex w-fit flex-row items-center gap-4 text-3xl text-mauve"
            >
                <div>Journal</div>
                <div>Bookmarks</div>
                <div>Essays</div>
                <div>About</div>
                <div>Highlights</div>
            </div>
        </div>
    </div>
</HomeLayout>
