---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/BaseLayout.astro'
import FormattedDate from '@/components/FormattedDate.astro'
const journalEntries = (await getCollection('journal')).sort(
    (a, b) => b.data.date.getTime() - a.data.date.getTime()
)
---

<Layout title="Journal" description="My more freeform thoughts">
    <div class="min-h-screen overflow-hidden">
        <h1 class="text-mauve mx-auto w-full pt-6 text-center text-5xl">
            Journal
        </h1>
        <div class="mx-auto max-w-4xl p-4 sm:p-6 md:p-10">
            <div class="flex flex-col space-y-5">
                {
                    journalEntries.map((journalEntry) => (
                        <div class="bg-base mx-auto w-full max-w-2xl rounded-lg p-2">
                            <a
                                href={`/journal/${journalEntry.slug}`}
                                class="block"
                            >
                                <h2 class="text-text mb-2 text-3xl font-bold">
                                    {journalEntry.data.title}
                                </h2>
                                <p class="text-green mb-1 text-sm">
                                    <FormattedDate
                                        date={journalEntry.data.date}
                                    />
                                </p>
                                <p class="text-subtext0 mb-5 text-base">
                                    {journalEntry.data.description}
                                </p>
                            </a>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
