---
import NoteCard from "../components/NoteCard.astro"
---
<body class= "mx-10 my-10 py-2.5 ">
<div class="grid-cols-1 divide-dotted divide-y gap-y-3 p-auto align-middle">
	<NoteCard heading = "Test Card 1"	content = "An interesting and simple use of monospaced fonts. Also the way he displays his interests in a very simple menu bar at the top. Thought 2">
	</NoteCard>
	<NoteCard heading = "Test Card 2" content = "An interesting and simple use of monospaced fonts. Also the way he displays his interests in a very simple menu bar at the top. Thought 2">
	</NoteCard>
	<NoteCard heading = "Test Card 3" content = "Ideally I want something like this, to just have a way to write about what i want to write about. No like count, nothing.">
	</NoteCard>
</div>
</body>
