---
import BaseLayout from '../layouts/BaseLayout.astro'
import Prose from '../layouts/Prose.astro'
---

<BaseLayout title="Testing Out Ideas">
  <div class="bg-teal-300">Red is pretty blue</div>
</BaseLayout>
