---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'
import Prose from '../../layouts/Prose.astro'
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getCollection('essays')
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }))
}
const { entry } = Astro.props
const { Content } = await entry.render()
---

<BaseLayout title={entry.data.title}>
    <div class="text-text mx-auto w-1/2 pt-10 text-center text-4xl">
        {entry.data.title}
    </div>
    <div class="text-text mx-auto w-1/2 pt-5 text-xl">
        <div class="text-green mb-3 block text-center">
            {
                entry.data.date.toLocaleDateString('en-uk', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                })
            }
        </div>
        <div class="mx-auto w-fit">
            <div class="mt-2 pb-5 font-semibold leading-tight">
                {entry.data.description}
            </div>
            <Prose>
                <Content />
            </Prose>
        </div>
    </div>
</BaseLayout>
