---
import { getCollection } from 'astro:content'
import Layout from '../layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
const essayEntries = (await getCollection('essays')).sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---
<Layout title='Essays'>
<div class="w-full grid grid-cols-2">
	<div class="row-span-4">
</div>
</Layout>


