---
import FormattedDate from './FormattedDate.astro'
const { title, date, description } = Astro.props
---

<div class="mx-auto max-w-2xl rounded-lg bg-base p-6 pb-5">
    <h2 class="mb-2 text-3xl font-bold text-text">
        {title}
    </h2>
    <p class="mb-1 text-sm text-green">
        <FormattedDate date={date} />
    </p>
    <p class="mb-5 text-base text-subtext0">
        {description}
    </p>
</div>
