---
const { title, description, link, date } = Astro.props
import FormattedDate from '@/components/FormattedDate.astro'
---

<div>
    <a href={link}>
        <div>
            <h2>
                {title}
                <i style="text-decoration: none;"> <FormattedDate date={date} /></i>
            </h2>
        </div>
    </a>
</div>
