---
import FormattedDate from '@/components/FormattedDate.astro'
const { title, date, description } = Astro.props
---

<div class="bg-base mx-auto max-w-2xl rounded-lg p-6 pb-5">
    <h2 class="text-text mb-2 text-3xl font-bold">
        {title}
    </h2>
    <p class="text-green mb-1 text-sm">
        <FormattedDate date={date} />
    </p>
    <p class="text-subtext0 mb-5 text-base">
        {description}
    </p>
</div>
