---
const { title, description, link, date } = Astro.props
import FormattedDate from '@/components/FormattedDate.astro'
---

<div class="hover:bg-fg-less rounded-lg py-4 md:p-4">
    <a href={link}>
        <div class="flex flex-col justify-between pb-1 md:pb-1">
            <div class="text-xl font-medium">
                {title}
            </div>
            <FormattedDate date={date} />
        </div>
        <div class="font-light">{description}</div>
    </a>
</div>
