---
interface Props {
    title: string
    date: Date
    description: string
}

const { title, date, description } = Astro.props
---

<h1 class="py-10 text-left text-3xl">
    {title}
    <div class="text-xl text-gray-500">{description}</div>
</h1>
