---
import { getCollection } from 'astro:content'
import MediaComponent from '@/components/MediaComponent.astro'
const quoteCollection = await getCollection('quotes')
const { type } = Astro.props
let collection = quoteCollection.filter((item) => item.data.type == type)
---

<div
    class="grid grid-cols-1 items-start justify-items-start gap-5 md:grid-cols-2"
>
    {
        collection.map((quoteItem) => (
            <MediaComponent
                title={quoteItem.data.title}
                author={quoteItem.data.author}
                type={quoteItem.data.type}
                link={quoteItem.id}
            />
        ))
    }
</div>
