---
import ArrowBack from '@/icons/arrow-back.svg'
import Dice from '@/icons/dice.svg'
import ArrowForward from '@/icons/arrow-forward.svg'
---

<footer>
    <h2>Webrings I'm Part Of</h2>
    <div class="link-footer">
        <a href="https://amrita.town">amrita.town</a>
        <a href="https://amrita.town/prev">←</a>
        <a href="https://amrita.town/random">⚄</a>
        <a href="https://amrita.town/next"> →</a>
    </div>
    <div class="link-footer">
        <a href="https://amrita.town/prev">←</a>
        <a href="https:/blr.indiewebclub.org"> IndieWebClub Bangalore </a>
        <a href="https://amrita.town/next">→</a>
    </div>
</footer>
