---
import ArrowBack from '@/icons/arrow-back.svg'
import Dice from '@/icons/dice.svg'
import ArrowForward from '@/icons/arrow-forward.svg'
import RSS from '@/icons/rss.svg'
---

<div class="mx-auto mt-2 mb-10 border-t-2 border-dashed p-3 py-2">
    <div
        class="flex place-content-center place-items-center space-x-2 text-center"
    >
        <div>
            Member of <a class="underline" href="https://amrita.town">
                amrita.town
            </a>
        </div>
        <div>•</div>
        <div class="flex place-content-center place-items-center">
            <a href="https://amrita.town/prev"> <ArrowBack /> </a>
            <a href="https://amrita.town/random"> <Dice /> </a>
            <a href="https://amrita.town/next"> <ArrowForward /> </a>
        </div>
    </div>
    <div
        class="mx-auto flex place-content-center place-items-center space-x-2 pt-2"
    >
        <a href="/rss.xml"> <RSS /> </a>
    </div>
</div>
