---
import ArrowBack from '@/icons/arrow-back.svg'
import Dice from '@/icons/dice.svg'
import ArrowForward from '@/icons/arrow-forward.svg'
---

<div>
    <div>
        <div>
            <a href="https://amrita.town"> amrita.town </a>
        </div>
        <div>•</div>
        <div>
            <a href="https://amrita.town/prev"><ArrowBack /></a>
            <a href="https://amrita.town/random"><Dice /></a>
            <a href="https://amrita.town/next"><ArrowForward /></a>
        </div>
    </div>
    <div>
        <div>
            <a href="https://blr.indiewebclub.org/webring/previous.html">
                <ArrowBack />
            </a>
            <div>
                <a href="https:/blr.indiewebclub.org">
                    IndieWebClub Bangalore
                </a>
            </div>
            <a href="https://blr.indiewebclub.org/webring/next.html">
                <ArrowForward />
            </a>
        </div>
    </div>
    <div></div>
</div>
