---
const { title, type, link } = Astro.props
const Icon = (await import(`./MediaIcons/${type}.svg`)).default
---

<a href={`${link}`}>
    <div>
        <Icon />
        <div>
            <div>{title}</div>
        </div>
    </div>
</a>
