---
import { GET } from '@/pages/api/top-song.json.ts'
let response = await GET()
const data = await response.json()
const fetchedTrack = {
    link: data?.toptracks?.track[0]?.url,
    name: data?.toptracks?.track[0]?.name,
    artist: data?.toptracks?.track[0]?.artist.name,
}
---

{
    fetchedTrack && (
        <a href={fetchedTrack.link}>
            <div class="my-2 flex w-full items-center justify-items-start space-x-2 p-4">
                <div class="flex h-10 items-start">
                    <svg
                        class="h-full w-auto"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 -960 960 960"
                        fill="currentColor"
                    >
                        <path d="M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z" />
                    </svg>
                </div>
                <div class="flex h-10 flex-col justify-between leading-tight">
                    <div class="font-bold">{fetchedTrack.name}</div>
                    <div class="p-0">{fetchedTrack.artist}</div>
                </div>
            </div>
        </a>
    )
}
