---
import NavItem from '@/components/NavItem.astro'
const links = ['Blog', 'Garden', 'About']
---

<nav>
    <div class="navbar-top">
        <a href="/"> Adithya Nair </a>
        <div class="navbar-links">
            {links.map((link) => <NavItem name={link} />)}
        </div>
    </div>
</nav>
