---
import DesktopThemeSwitcher from '@/components/DesktopThemeSwitcher.astro'
import NavItem from '@/components/NavItem.astro'
const links = ['Home', 'Blog', 'Garden', 'About']
---

<div>
    <div>
        {links.map((link) => <NavItem name={link} />)}
        <DesktopThemeSwitcher />
    </div>
</div>
