<div class="mocha">
    <div class="flex h-max w-full flex-auto flex-row items-center bg-base py-3">
        <!-- Logo / Brand Name -->
        <div class="block px-5 text-3xl font-bold">
            <a class="text-center text-mauve" href="/">Adithya Nair</a>
        </div>

        <div class="ml-auto hidden space-x-6 px-5 md:flex">
            <a
                href="/essays"
                class="text-xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
                >Essays</a
            >
            <a
                href="/journal"
                class="text-xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
                >Journal</a
            >
            <a
                href="/bookmarks"
                class="text-xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
                >Bookmarks</a
            >
            <a
                href="/about"
                class="text-xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
                >About</a
            >
        </div>

        <button
            id="hamburger"
            class="ml-auto block px-10 text-mauve focus:outline-none md:hidden"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <div
        id="mobile-menu"
        class="fixed inset-0 z-50 flex hidden flex-col items-center justify-center space-y-6 bg-base bg-opacity-50 text-center backdrop-blur-md md:hidden"
    >
        <a
            href="/essays"
            class="text-3xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
            >Essays</a
        >
        <a
            href="/journal"
            class="text-3xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
            >Journal</a
        >
        <a
            href="/bookmarks"
            class="text-3xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
            >Bookmarks</a
        >
        <a
            href="/about"
            class="text-3xl font-medium text-mauve hover:text-rosewater hover:underline focus:text-green"
            >About</a
        >
    </div>
</div>

<script>
    const hamburger = document.getElementById('hamburger')
    const mobileMenu = document.getElementById('mobile-menu')

    hamburger.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden')
    })
</script>
