---
import { getSubPage } from '@/lib/getSubPage'

const { name } = Astro.props

const currLink = getSubPage(Astro.url)
const link = name == 'Home' ? '' : name.toLowerCase()
const isActive = currLink == name.toLowerCase()
const Icon = (await import(`/src/components/NavIcons/${name}.astro`)).default
---

<a href={`/${link}`} class="py-2">
    <div class="flex flex-col place-items-center">
        <div
            class:list={[
                'flex w-10 justify-center rounded-lg',
                [isActive ? 'bg-hover' : ''],
            ]}
        >
            <Icon isActive={isActive} />
        </div>
    </div>
    <div class="text-xs">{name}</div>
</a>
