---
import { getSubPage } from '@/lib/getSubPage'

const { name } = Astro.props

const currLink = getSubPage(Astro.url)
const link = name == 'Home' ? '' : name.toLowerCase()
const isActive = currLink == name.toLowerCase()
---

<a href={`/${link}`} class="py-2">
    {name}
</a>
