---
import { getSubPage } from '@/lib/getSubPage'

const { name } = Astro.props

const currLink = getSubPage(Astro.url)
const link = name == 'Home' ? '' : name.toLowerCase()
const isActive = currLink == name.toLowerCase()
const Icon = (await import(`./NavIcons/${name}.astro`)).default
---

<a href={`/${link}`} class="py-2">
    <div>
        <div class:list={[]}>
            <Icon isActive={isActive} />
        </div>
    </div>
    <div>{name}</div>
</a>
