---
let links = [
    'https://github.com/nairadithya',
    'https://letterboxd.com/nairadithya',
    'https://linkedin.com/in/nairadithya',
]
---

<!-- GitHub -->
<div class="grid grid-cols-3 place-items-center py-2">
    <a href={links[0]}>
        <svg
            class="w-10"
            width="50"
            height="50"
            viewBox="0 0 98 96"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                style="overflow:visible"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
            ></path>
        </svg>
    </a>
    <!-- LetterBoxd -->
    <a href={links[1]}>
        <svg
            class="w-10"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="50"
            height="50"
            viewBox="0 0 500 500"
            version="1.1"
        >
            <title>letterboxd-decal-dots-neg-mono</title>
            <defs>
                <rect
                    id="path-1"
                    x="0"
                    y="0"
                    width="129.847328"
                    height="141.443299"></rect>
                <rect
                    id="path-3"
                    x="0"
                    y="0"
                    width="129.847328"
                    height="141.443299"></rect>
            </defs>
            <g
                id="letterboxd-decal-dots-neg-mono"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
            >
                <circle id="Circle" fill="none" cx="250" cy="250" r="250"
                ></circle>
                <g id="Dots" transform="translate(61.000000, 180.000000)">
                    <ellipse
                        id="Green"
                        fill="#202830"
                        cx="189"
                        cy="70"
                        rx="70.0786517"
                        ry="70"></ellipse>
                    <g id="Blue" transform="translate(248.152672, 0.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Mask"></g>
                        <ellipse
                            fill="#202830"
                            mask="url(#mask-2)"
                            cx="59.7686766"
                            cy="70"
                            rx="70.0786517"
                            ry="70"></ellipse>
                    </g>
                    <g id="Orange">
                        <mask id="mask-4" fill="white">
                            <use xlink:href="#path-3"></use>
                        </mask>
                        <g id="Mask"></g>
                        <ellipse
                            fill="#202830"
                            mask="url(#mask-4)"
                            cx="70.0786517"
                            cy="70"
                            rx="70.0786517"
                            ry="70"></ellipse>
                    </g>
                    <path
                        d="M129.539326,107.063108 C122.810493,96.3149291 118.921348,83.611134 118.921348,70 C118.921348,56.388866 122.810493,43.6850709 129.539326,32.9368922 C136.268159,43.6850709 140.157303,56.388866 140.157303,70 C140.157303,83.611134 136.268159,96.3149291 129.539326,107.063108 L129.539326,107.063108 Z"
                        id="Overlap"
                        fill="#FFFFFF"></path>
                    <path
                        d="M248.460674,32.9368922 C255.189507,43.6850709 259.078652,56.388866 259.078652,70 C259.078652,83.611134 255.189507,96.3149291 248.460674,107.063108 C241.731841,96.3149291 237.842697,83.611134 237.842697,70 C237.842697,56.388866 241.731841,43.6850709 248.460674,32.9368922 L248.460674,32.9368922 Z"
                        id="Overlap"
                        fill="#FFFFFF"></path>
                </g>
            </g>
        </svg>
    </a>
    <!-- Linkedin -->
    <a href={links[2]}>
        <svg
            class="w-10"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="50"
            height="50"
            viewBox="0 0 50 50"
            ><path
                d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56c3.97,0,7.19,2.73,7.19,8.26V39z"
            ></path></svg
        >
    </a>
</div>
