---
import { getCollection } from 'astro:content'

const quotes = await getCollection('quotes')

let randomQuote = quotes[Math.floor(Math.random() * quotes.length)]

console.log(randomQuote)
---

<div class="mx-1 border-l-2 px-3">
    <div class="pb-2 font-bold">{randomQuote.data.title}</div>
    <div class="text-left italic font-stretch-extra-condensed">
        “{randomQuote.body}ˮ
    </div>
    <div>
        <p class="font-semibold">{randomQuote.data.author}</p>
    </div>
</div>
