---
interface Props {
  url: string
  icon: string
}

const { url, icon } = Astro.props
const Icon = (await import(`./SocialIcons/${icon}.svg`)).default
---

<a href={url} rel="me" target="_blank">
  <Icon />
</a>
