---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
    title="Projects"
    description="This is the page for all my projects."
>
    <div class="min-h-screen overflow-hidden">
        <h1
            class="text-mauve mx-auto w-full py-8 text-center text-5xl font-bold"
        >
            Projects
        </h1>
    </div>
</BaseLayout>
