---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CollectionArray from '@/components/CollectionArray.astro'
---

<BaseLayout
    title="The Garden"
    description="All the weird bits and bobs I deem worthy of showing off."
>
    <div class="py-2 text-xl font-bold">Books</div>
    <CollectionArray />
</BaseLayout>
