---
import BaseLayout from '@/layouts/BaseLayout.astro'
import CollectionArray from '@/components/CollectionArray.astro'
import TopMusic from '@/components/TopMusic.astro'
---

<BaseLayout
    title="The Garden"
    description="The place I wanna keep all the things that inspire me."
>
    <div>
        <p>
            Think of this as a page that expresses my tastes. I document my
            favourites in the best way I can.
        </p>
    </div>
    <div class="py-2 text-xl font-bold">Personal</div>
    <CollectionArray type="note" />
    <div class="py-2 text-xl font-bold">Music</div>
    <TopMusic />
</BaseLayout>
