---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout
    title="The Garden"
    description="All the weird bits and bobs I deem worthy of showing off."
>
    <p>
        Think of this as the place I keep all the things I love. I plan to tend
        to this garden on occasion.
    </p>

    <a href="garden/essential-reads"
        ><div class="hover:bg-fg-less my-2 rounded p-2 py-4 text-2xl font-bold">
            Essential Reads
            <div class="text-base font-light">
                A list of articles I recommend to everyone.
            </div>
        </div>
    </a>
</BaseLayout>
