---
import NavBar from '@/components/NavBar.astro'
import MobileThemeSwitcher from '@/components/MobileThemeSwitcher.astro'
import Head from '@/components/Head.astro'
interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html class="h-full bg-blue-100 font-serif" lang="en">
    <Head title={title} />
    <main class="min-h-screen w-full py-1">
        <NavBar />
        <div class="px-5">
            <div class="mx-auto flex items-center justify-between md:w-5/12">
                <div class="py-8 text-4xl font-extrabold text-black">
                    {title}
                </div>
                <div class="md:hidden">
                    <MobileThemeSwitcher />
                </div>
            </div>
            <div class="mx-auto md:w-5/12">
                <slot />
            </div>
        </div>
    </main>
</html>
