---
import NavBar from '@/components/NavBar.astro'

import Head from '@/components/Head.astro'
interface Props {
    title: string
    description: string
    slug?: string
}
const { title, description, slug = '' } = Astro.props
---

<!doctype html>
<html lang="en">
    <Head
        title={title}
        description={description
            ? `${description} | Adithya Nair's Website`
            : "Adithya Nair's Website"}
        slug={slug}
    />
    <main>
        <NavBar />
        <header>
            {title}
        </header>
	<div class="home">
            <slot />
	</div>
    </main>
</html>
