---
import NavBar from '../components/NavBar.astro'
interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html class="h-full" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="`{description}`" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="favicon.ico" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #1e1e2e;
                background-size: 10px 10px;
                overflow-x: hidden;
            }
            main {
                min-height: 100vh;
            }
        </style></head
    >

    <main class="mocha min-h-screen w-full bg-base py-1">
        <NavBar />
        <slot />
    </main>


</html>
