---
interface Props {
    title: string
}

import Head from '@/components/Head.astro'
import NavBar from '@/components/NavBar.astro'
const { title } = Astro.props
---

<!doctype html>
<html class="h-full bg-blue-100" lang="en">
    <Head title={title} />
    <main
        class="mx-auto min-h-screen bg-blue-100 py-1 font-serif md:w-5/12 dark:bg-slate-950"
    >
        <NavBar />
        <div class="px-5 dark:text-slate-200">
            <slot />
        </div>
    </main>
</html>
