---
interface Props {
    title: string
}

import Head from '@/components/Head.astro'
import NavBar from '@/components/NavBar.astro'
const { title } = Astro.props
---

<!doctype html>
<html class="bg-bg text-fg dark:text-me-100 h-full" lang="en">
    <Head title={title} />
    <main class="mx-auto min-h-screen py-1 font-serif md:w-5/12">
        <NavBar />
        <div class="px-5 md:px-0">
            <slot />
        </div>
    </main>
</html>
