---
interface Props {
    title: string
}

import NavBar from '@/components/NavBar.astro'
const { title } = Astro.props
---

<!doctype html>
<html class="h-full" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Adithya Nair's home on the Internet."
        />
        <meta name="author" content="Adithya Nair" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Adithya Nair's Website"
            href={new URL('rss.xml', Astro.site)}
        />
        <link href="/src/styles/global.css" rel="stylesheet" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Serif:ital,opsz,wdth,wght,GRAD@1,8..144,50,800,100&display=swap"
            rel="stylesheet"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <main
        class="min-h-screen w-full bg-slate-200 py-1 font-serif dark:bg-slate-950"
    >
        <NavBar />
        <slot />
    </main>


</html>
