---

---

<div
    class="prose dark:prose-invert prose-headings:text-center prose-headings:font-manrope prose-h1:font-bold prose-p:text-justify prose-p:font-lato prose-a:text-blue-600 prose-img:mx-auto prose-img:rounded-xl"
>
    <slot />
</div>
