---

---

<div
    class="prose dark:prose-invert prose-headings:text-center prose-h1:font-bold prose-p:text-justify prose-p:leading-relaxed prose-a:text-blue-600 prose-a:no-underline prose-img:mx-auto prose-img:rounded-xl"
>
    <slot />
    <hr />
    <div class="text-left">
        Feel free to subscribe to <a href="https://adithyanair.substack.com/"
            >my newsletter
        </a>stay updated on new essays I write as well as links I found
        interesting.
    </div>
</div>
