<div
    class="prose-lg prose-ol:list-outside prose-ol:list-decimal prose-ul:list-outside prose-ul:list-disc prose-img:rounded-lg marker:text-fg selection:text-bg selection:bg-fg md:prose-base prose-a:underline prose-headings:text-2xl pt-2 leading-tight"
>
    <slot />
    <div class="pb-10"></div>

    <div class="border-dashed"></div>
</div>
