<div
    class="bold marker:text-green selection:bg-mauve selection:text-base list-base prose mx-auto w-full max-w-3xl prose-headings:text-center prose-h1:font-bold prose-h1:text-red prose-h2:text-peach prose-h3:text-blue prose-p:text-justify prose-p:leading-relaxed prose-p:text-text prose-a:text-blue prose-a:no-underline prose-blockquote:text-subtext1 prose-strong:text-text prose-ol:text-text prose-ul:text-text prose-img:mx-auto prose-img:rounded-xl prose-img:h-96 prose-img:w-auto prose-img:max-w-full lg:px-6 xl:px-8"
>
    <slot />
    <hr class="my-6" />
    <div class="mb-10 text-left text-text">
        Feel free to subscribe to <a
            class="text-blue hover:underline"
            href="https://adithyanair.substack.com/"
        >
            my newsletter
        </a> to stay updated on new essays I write as well as links I found interesting.
    </div>
</div>
