<div
    class="prose-h1:text-red prose-h2:text-peach prose-h3:text-blue prose-ol:text-text prose-ul:text-text prose-p:text-text prose-strong:text-text bold prose-a:text-blue prose-blockquote:text-subtext1 prose prose-headings:text-center prose-h1:font-bold prose-p:text-justify prose-p:leading-relaxed prose-a:no-underline prose-img:mx-auto prose-img:rounded-xl"
>
    <slot />
    <hr />
    <div class="text-text mb-10 text-left">
        Feel free to subscribe to <a
            class="text-blue"
            href="https://adithyanair.substack.com/"
        >
            my newsletter
        </a> to stay updated on new essays I write as well as links I found interesting.
    </div>
</div>
